*{
background: rgb(86, 95, 97); 
}

.mapa{
    width: 50%;
    margin: auto;
}

.mapa path{
    fill: #F0E68C;
    stroke: #8b8b8b;
    stroke-width: 2PX;
}

#Amazona:hover{
color: aqua;
background-color: aqua;
}